@charset "ISO-8859-1";

.header {
	height: 144px;
	border: 1px solid black;
}

.nav {
	text-align: center;
}

.container {
	height: 144px;
	border: 1px solid black;
	width: 90%;
}

.main {
	height: 360px;
	border: 1px solid black;
}

.footer {
	height: 80px;
	border: 1px solid black;
}